{% extends "layout.html" %}
{% block body %}
  <h2>Edit {{item.title}}</h2>
  
  <form action="{{ url_for('editItem', item=item.title) }}" method="post">
  <div class="form-group">
    <label for="Title">Title:</label>
    <input type="text" class="form-control" name="title" value="{{item.title}}">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea name="description" class="form-control">{{item.description}}</textarea>
  </div>
<div class="form-group">
  <label for="category_id">Select Category:</label>
  <select class="form-control" name="category_id">
    <option value="{{item.category_id}}">{{item.category.name}}</option>
    {% for c in categories %}
      <option value="{{ c.id }}">{{c.name}}</option>
    {% endfor %}

  </select>
</div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}